
.dark {
    --color-bg-primary: #000
    --color-text-primary: #fff
}



.light {
    --color-bg-primary: #000
    --color-text-primary: #fff
}


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    @apply box-border
}
